	
	<div style="display:none">
		<canvas id="sourcecopy" width="640" height="360"></canvas>
	</div>
	<div id="explosive_output">
		<center class="central">
		<canvas id="output" width="1000" height="600"></canvas>
		<span id="explosion_label"></span>
		</center>
	</div>
	<div id="animate_prompt_container"></div>


  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>